 <script setup>
 import { computed, ref } from 'vue'

 const counterUKomponenti= ref(1)
 const props = defineProps({
   counettIzAppa :{
    type : Number,
    required : false,
    default :0
   }
 })

 const prop_double = computed(()=> props.counettIzAppa + 2)

 function uvecajIzKomponente(){
    props.counettIzAppa
 }

</script>
 <template>

<div class="mojaKomponenta">
<span>{{counterUKomponenti }}</span>
<button @click="counterUKomponenti++">uvecava</button>
 </div>
 <div class="iz-appa">

 </div>
 </template>

 <style scoped>

 .mojaKomponenta{
    background-color: red;
 }
</style>