<script setup>
import { ref } from 'vue'
import MojaKomponent from './components/MojaKomponent.vue';

 const counter = ref(123);

const ee = ref(0);

const bre = ref("")
const promena2 = ref("")
const nova_promenjiva = ref([])
 </script>

<template>
  <div>
    <MojaKomponent/>
    <MojaKomponent/>
    <MojaKomponent/>
  </div>
  <div>
  <span>{{ counter }}</span>
  <button @click="counter++">neki test</button>
</div>
</template>

<style scoped>


</style>
